.testimonial {
    border-radius: 1rem;
    background-color: rgb(223, 223, 223);
    margin-right: 1rem;
}

/* .quote-cover {
    position: relative;
}

.quote-cover img {
    position: absolute;
    width: 6rem;
    top: -9.5rem;
    left: 3rem;
    opacity: .3;
} */

@media(max-width:1400px) {
    /* .quote-cover img {
        top: -12rem;
        left: -1rem;
    } */
}