.search-box {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
}

.search_bar {
    border: 2px solid var(--primary-color);
    padding: 0rem 2rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 20px 20px 100px 20px;
    width: max-content;
    /* margin: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form_group {
    margin-top: 1rem;
}

.form_group span {
    font-size: 1.8rem;
    color: #ee6e6e;
}

.form_group input {
    border: none;
    font-size: .9rem;
    color: var(--heading-color);
}

.form_group input:focus {
    outline: none;
}

.form_group input h6 {
    margin-bottom: 0;
}

.form_group-fast {
    border-right: 2px solid #ddd;
}

.search_icon i {
    font-size: 1.6rem;
    padding: .6rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 50px;
    border-radius: 12px 5px 12px 5px;
    cursor: pointer;
}